@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
    background-color: #ECF0F1;
    color: #22313F;
    font-size: 1rem;
}

h1 {
    font-size: 200%;
}

.center {
    text-align: center;
}

.ma {
    margin: auto;
}

.width15 {
    width: 15%;
}

.margin_bottom1 {
    margin-bottom: 1%;
}

.margin_bottom2 {
    margin-bottom: 2%;
}

.block {
    display: block;
}

.display_inline {
    display: inline;
}

#chatbox {
    height: 60%;
}

#cb_wrapper {
    margin: auto;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 65%;
    height: 60%;
    outline-style: solid;
    outline-width: 1%;
    margin-top: 2%;
    padding: 1% 2% 1% 2%;
    margin-bottom: 1%;
    outline-offset: 10px !important;
}

.margin_left_cb_align {
    margin-left: 15%;
}

.widthmessagebox {
    width: 30%;
}

.cbmr {
    margin-right: 1%;
}
