<div id="wrapper">
    <div id="cb_wrapper">
        <p id="chatbox"></p>
    </div>
    <form class="mui-form--inline" autocomplete="off">
        <div class="mui-textfield margin_left_cb_align widthmessagebox cbmr">
            <input type="text" id="messagebox">
        </div>
        <button class="block center mui-btn mui-btn--accent display_inline" id="send_chat_btn" type="button" onclick="send_chat()">Send</button>
    </form>
</div>
<script>init_chat();</script>
