<div id="login_wrapper">
    <h1 class="center">Login</h1>

    <div id="user_input" class="mui-textfield mui-textfield--float-label width15 block ma margin_bottom1">
        <input type="text" id="userinput">
        <label>Username</label>
    </div>
    <div id="pass_input" class="mui-textfield mui-textfield--float-label width15 block ma margin_bottom2">
        <input type="password" id="passinput">
        <label>Password</label>
    </div>

    <div class="margin_bottom1">
        <button class="ma block center mui-btn mui-btn--accent" type="button" onclick="login()">Login</button>
    </div>
    <div>
        <button class="ma block center mui-btn mui-btn--accent" type="button" onclick='window.location.href = "/register"'>Register</button>
    </div>

    <script>login_continue();</script>
</div>
