<div id="login_wrapper">
    <h1 class="center">Register</h1>

    <div id="user_input" class="mui-textfield mui-textfield--float-label width15 block ma margin_bottom1">
        <input type="text" id="userinput">
        <label>Username</label>
    </div>
    <div id="pass_input" class="mui-textfield mui-textfield--float-label width15 block ma margin_bottom2">
        <input type="password" id="passinput">
        <label>Password</label>
    </div>

    <div>
        <button class="ma block center mui-btn mui-btn--accent" type="button" onclick="register()">Register</button>
    </div>
</div>
