<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="assets/css/mui.css" type="text/css">
        <link rel="stylesheet" href="assets/css/main.css" type="text/css">
        <script src="assets/js/mui.js"></script>
        <script src="assets/js/conf.js"></script>
        <script src="assets/js/main.js"></script>
        <title>swc2 {{.Title}}</title>
    </head>
    <body>
        {{.Body}}
    </body>
</html>
